{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Telecomm Division Manager{% endblock %}

{% block links %}
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'home' %}">Telecomm</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    
    {% comment %}
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="{% url 'home' %}">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    {% endcomment %}
    {% if user.is_authenticated %}
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <small class="text text-white">{{ user.rank }} {{ user.first_name }} {{ user.last_name }}</small>
    </div>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{% url 'edit' %}">จัดการข้อมูล</a>
          <a class="dropdown-item" href="#">บันทึกการเข้าสู่ระบบ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">ออกจากระบบ</a>
        </div>
      </li>
    </ul>
    {% endif %}

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>หน้าหลัก</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>การจัดการ</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">การจัดการงาน:</h6>
          <a class="dropdown-item" href="{% url 'work' %}">บันทึกการปฏิบัติงาน</a>
          <a class="dropdown-item" href="#">การร้องขอ</a>
          <a class="dropdown-item" href="#">คลัง</a>
          <a class="dropdown-item" href="#">แจ้งซ่อม</a>
          <a class="dropdown-item" href="#">ยานพาหนะ</a>
          <a class="dropdown-item" href="#">เอกสาร</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">สถานะภาพ:</h6>
          <a class="dropdown-item" href="#">ส่วนกลาง</a>
          <a class="dropdown-item" href="#">ทภ.1</a>
          <a class="dropdown-item" href="#">ทภ.2</a>
          <a class="dropdown-item" href="#">ทภ.3</a>
          <a class="dropdown-item" href="#">ทภ.4</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>สรุุปงาน</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'employee' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>รายชื่อกำลังพล</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        {% if user.is_authenticated %}
          {% if  user.id == news.author.id %}
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">หน้าหลัก</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'work' %}">บันทึกการปฏิบัติงาน</a>
                </li>
                <li class="breadcrumb-item active">แก้ไขบันทึกการปฏิบัติงาน</li>

              </ol>

              <h1>แก้ไขบันทึกการปฏิบัติงาน</h1>
              <a href="{% url 'work' %}"><span class="btn btn-dark">กลับ</span></a>

              <br/><hr>
              <div class="form-group">
                <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}

                        <br/><br/>
                  <button class="btn btn-primary">แก้ไข</button>
                </form>
              </div>  
          {% else %}      
            คุณไม่มีสิทธิ์ในการแก้ไข
            <br/><hr>
            <a href="{% url 'home' %}"><span class="btn btn-dark">กลับ</span></a>
            <br/><br/>
          {% endif %}
        {% else %}
          <div>
            คุณยังไม่ได้เข้าสู่ระบบ
            <br/><hr>
            <a class="btn btn-primary" href="{% url 'login' %}">เข้าสู่ระบบ</a>&nbsp
            <a class="btn btn-info" href="{% url 'register' %}">ลงทะเบียน</a>
            <br/>
          </div>
        {% endif %}        
          
        <div class="card-footer">
          <span class="small text-muted text-left">ประสานการปฏิบัติ กทข.ศทส.สส. โทร 95525</span>
 
        </div>

    </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      

  </div>
    <!-- /.content-wrapper -->

</div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ต้องการออกจากระบบ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">เลือก "ออกจากระบบ" ด้านล่าง ถ้าต้องการออกจากระบบ</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">ออกจากระบบ</a>
        </div>
      </div>
    </div>
  </div>



</body>
{% endblock %}
